[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
hyperlink = "*"
openpyxl = "*"
selenium = "*"
pyyaml = "*"
requests = "*"
pandas = "*"
undetected-chromedriver = "*"
selenium-stealth = "*"
opencv-python = "*"
tensorflow = "*"
ua-parser = "*"
user-agents = "*"
fake-useragent = "*"
zenrows = "*"
2captcha-python = "*"
playwright = "*"

[dev-packages]
